{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "cover 85% in BR",
          "last 2 Edge versions"
        ]
      },
      "modules": false
    }],
    "react"
  ],
  "plugins": [
    ["transform-object-rest-spread", {"useBuiltIns": true}],
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}